<div class="container-fluid">
	<div class="row blueline">
		<img src="https://media1.giphy.com/media/sHCsBin2f1QnS/100.gif" id="logo">
		<h1>Design Inspirations</h1>
	</div>	
		<% @creative.each do |creative| %>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 text-center">
				<%= link_to creative_path(:id => creative.id) do %>
			    	<img src="<%=  creative.cover_art %>" /><br>
			    <% end %>
			        <div class="row">
			        <%= creative.title %> <br>
			        <%=  creative.artist %>
			        <%=  creative.year %><br>
			        <%= link_to "Delete", creative, class:"deleteButton", method: :delete %>
			    	<%= link_to "View", creative_path(:id => creative.id), class:"editButton", method: :get %> 
		    	</div>
		 	</div>
		<% end %>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 text-center">
			<%= image_tag 'circles.gif' %>
		</div>

	    
</div>

