

<div class="container-fluid">
	<div class="row blueline">
		<img src="https://media1.giphy.com/media/sHCsBin2f1QnS/100.gif" id="logo">
		<h1>Design Inspirations</h1>
	</div>	
		<% @creative.each do |creative| %>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 text-center">
		        <img src="<%=  creative.cover_art %>" /><br>
			        <div class="row">
			        <%= creative.title %> <br>
			        <%=  creative.artist %>
			        <%=  creative.year %>
			        <%= button_to "Delete", creative, method: :delete, :class =>'deleteButton' %>
		    	</div>
		 	</div>
		<% end %>
		</div>
	    
</div>


		<!-- <p>Find me in app/views/creatives/index.html.erb</p> -->
