<div class="text-center">
	<h1 class="creative">Creatives</h1>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		
		<%= form_for :creative, url: "/creatives", method: "post" do |f| %>
		    <%= f.text_field :title %><br>
		    <%= f.text_area :artist %><br>
		     <%= f.text_area :year %><br>
		      <%= f.text_area :cover_art %><br>
		    <%= f.submit "save creative" %>	
		<% end %>
		</div>
	</div>
</div>