<div class="text-center">
	<h1 class="creative">Creatives</h1>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		
		<div class="col-sm-6 col-sm-offset-3 colorform">
		<%= form_for :creative, url: "/creatives", method: "post" do |f| %>
		    Title <%= f.text_field :title, :id =>'title' %><br>
		    Artist <%= f.text_field :artist %><br>
		    Year <%= f.text_field :year %><br>
		    Image <%= f.text_field :cover_art %><br>
		    <%= f.submit "save creative", :class =>'btn btn-info', :id =>'submitMe'%>	
		<% end %>
		</div>
	</div>
</div>
