<div class="container-fluid">
	<div class="row blueline">
		<img src="https://media1.giphy.com/media/sHCsBin2f1QnS/100.gif" id="logo">
		<h1>New Inspirations</h1>
	</div>
	
<div class="row blueline">
	<div class="col-sm-6 col-sm-offset-3 text-center">
	    Title: <%= @creative.title %> <br>
	    Artist: <%=  @creative.artist %><br>
	    Year: <%=  @creative.year %><br>	
	   	<img src="<%=  @creative.cover_art %>"/>
	
	</div>
</div>
	<div class="text-center">
		<div class="editstyles">
			<%= link_to "Back", creatives_path, :class =>'editButton' %>
			<%= link_to "Edit", edit_creative_path, :class =>'deleteButton'%>
		</div>
	</div>