<%=link_to "Add Creature", new_creature_path, class:"btn btn-sm btn-danger" %>


<% @creatures.each do |creature| %>

<div class='col-sm-4 col-sm-offset-4'>
	<ul class='list-group list-unstyled'>
		<li class='list-item unstyled'>	
			Name: <%= creature.name %> <br>
			Desciption: <%= creature.description %> <br>
			<%= image_tag creature.image %>
			<%= button_to "Delete", creature, method: :delete %>

		</li>
	</ul>
</div>

<% end %>