<nav class="navbar">
  <a href="/" class="navbar-brand">
    <img src="http://i53.photobucket.com/albums/g42/sacentral/User_logos/storm_trooper.png" alt="bog_app" style="height: 30px">
  </a>
  <div class="jumbotron text-center">
    <h2>Creatures of the Bog</h2>
  </div>
</nav>


<div class="col-sm-6 col-sm-offset-3">
  <div>
    <%= link_to "Make a New Creature", :new_creature, class: 'text-center'%>
  </div>
 
  <% @creatures.each do |creature| %>
    <div style="margin: 10px">
      <strong>Name:</strong> <%= creature.name %><br>
      <strong>Description:</strong> <%= creature.description %>
      <%= link_to "Edit", creature, method: :edit , class: "btn btn-xs" %>
      <%= button_to "Delete", creature, method: :delete , class: "btn btn-xs" %>
    </div>
  <% end %>
</div>


